body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(217, 85, 80);
    font-family:  'Segoe UI Emoji';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 600px;
    border-bottom: 1px rgba(114, 62, 62, 0.397) solid;
    padding-bottom: 1em;
}

.title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.icon {
    width: 1.5vw;
    margin-right: 4px;
}

.btn {
    display: flex;
    align-items: center;
}

.btn-all {
    display: flex;
    align-items: center;
    background: none rgba(255, 255, 255, 0.2);
    border: none;
    padding: .5em .75em;
    color: rgb(253, 253, 253);
    border-radius: .5em;
    cursor: pointer;
    margin-left: 1em;
}

.text-nav {
    display: block;
    margin-left: .2em;
}

.btn-all:hover {
    background: none rgba(255, 255, 255, 0.3);
}

.container {
    text-align: center;
    margin-top: 2em;
}

.card{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 70px 20px 70px;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

.card-button {
    display: inline-flex;
}

.btn-style {
    border:  none;
    border-radius: .5em;
    font-size: 16px;
    padding: 2px 10px;
    height: 25px;
    cursor: pointer;
    background: none ;
    color: white;
    font-weight: bold;
}

.btn-style1 {
    border:  none;
    border-radius: .5em;
    font-size: 16px;
    padding: 2px 10px;
    height: 25px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: none rgba(0, 0, 0, 0.15);
}



.p {
    text-align: center;
}

.time-time {
    font-size: 120px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}

.btn-start{
    cursor: pointer;
    border: none;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 22px;
    height: 55px;
    color: rgb(217, 85, 80);
    font-weight: bold;
    width: 200px;
    background-color: white;
}

.hastag {
    font-size: 20px;
    color: rgba(221, 221, 221, 0.527);
    margin-bottom: 4px;
}



.fokus{
    font-size: 20px;
    font-weight: 100;
    color: white;
    overflow-wrap: break-word;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 500px;
    border-bottom: 1px white solid;
    padding-bottom: 1em;
    padding-top: 2em;
    font-size: 20px;
    color: white;
}

.titik {
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    background: none rgba(255, 255, 255, 0.2);
    padding: 6px;
}

.titik:hover {
    background: none rgba(255, 255, 255, 0.3);
}

.task{
    font-weight: bold;
    font-size: 17px;
}

.titik img{
    width: 16px;
}
.add-task {
    display: flex;
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    border-radius: 8px;
    border: 2px dashed rgba(255, 255, 255, 0.4);
    color: white;
    opacity: 0.5;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.add-task:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px dashed rgba(255, 255, 255, 0.6);
    opacity: 0.8;
}

.text-task {
    font-weight: bold;
}

.add-task img {
    width: 18px;
    margin-right: 8px;  
}
